<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>AutoPeças Marketplace</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>AutoMarket</h1>
        <input type="text" id="searchBar" placeholder="Buscar por marca...">
    </header>

    <section class="banner">
        <img src="https://www.skyautomotive.com.br/painel-cms/assets/uploads/upload_banner/item_21/banner_0a07465d1b52eb5e1f151b0ca9b573f61.jpg" alt="Banner Automotivo">
    </section>

    <section class="mais-vendidos">
        <h2>Mais Vendidos</h2>
        <div id="produtos-container" class="produtos"></div>
    </section>

    <script src="/static/js/script.js"></script>
</body>
</html>
